services:
  frontend:
    image: frontend
    build:
      context: ../../src/frontend
      args:
        BUILD: build-stag
    ports:
      - "3000:3000"
    networks:
      - nginx_proxy_manager

networks:
  nginx_proxy_manager:
    external: true
