name: Deploy Staging

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy using SSH Action
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            DEPLOY_DIR="/root/portfolio"

            cd ${DEPLOY_DIR}

            git pull origin main

            cd ${DEPLOY_DIR}/deploy/staging

            docker compose pull

            docker compose up -d

            docker system prune -a

            echo "Deployment successful for ${{ github.sha }}"
